<% if current_page?(root_path) %>
  <div id="splash" class="splash-screen">
    <div class="splash-text">Your weekend awaits</div>
  </div>

  <script>
    document.addEventListener("turbo:load", function() {
      setTimeout(function() {
        document.querySelector('.splash-text').style.opacity = 0;
        setTimeout(function() {
          window.location.href = '<%= events_path %>';
        }, 1000);
      }, 2000);
    });
  </script>
<% end %>
